html {
    margin: 0;
    padding: 0;
    background: #fff;
}

body {
    margin: 0;
    padding: 0;
}

canvas {
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

.error {
    position: absolute;
    top: 0;
    left: 0;
    padding: 3rem;
    margin: 3rem 1rem;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 10;
    border-radius: 0.25rem;
    background-color: coral;
}

.error h1, .error p {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.error h1 {
    font-weight: bold;
    margin-bottom: 1rem;
}


